<div id=eliminar-persona class="form" style="height: 270px;">
    <div class="title">Eliminar un registro</div>
    <form id="form-eliminar-persona">
        <div class="input-container ic2">
            <input id=input-eliminar-dni class="input" type="number" min="0" step="1" placeholder=" "/>
            <div class="cut"></div>
            <label for=input-eliminar-dni class="placeholder">DNI</label>
        </div>
        <div>
            <button class="submit">Eliminar</button>
        </div>
    </form>
</div>