<!doctype html>
<html lang=es>

<meta charset="UTF-8">

    <head>
        <link rel="icon" href="data:;base64,=">
        <link rel="stylesheet" href="css/form.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">        <title>Gestor de gastos</title>
        <style>
            html, body {
                margin: 0
            }
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Gestor de OSCs</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a id="ver-personas" class="dropdown-item" href="#">Mis datos</a></li>
                                <li><a class="dropdown-item" href="#">Estadisticas</a></li>
                                <li><a class="dropdown-item" href="#">Cargar formulario</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id=ingreso-persona class="form">
            <div class="title">Nuevo ingreso</div>
            <form id="form-persona">
                <div class="input-container ic1">
                    <input id='input-dni' class="input" min=0 step=1 type="number" placeholder=" "/>
                    <div class="cut cut-short"></div>
                    <label for='input-dni' class="placeholder">DNI</label>
                </div>
                <div class="input-container ic2">
                    <input id='input-nombre' class="input" type="text" placeholder=" "/>
                    <div class="cut"></div>
                    <label for='input-nombre' class="placeholder">Nombre</label>
                </div>
                <div class="input-container ic2">
                    <input id='input-apellido' class="input" type="text" placeholder=" "/>
                    <div class="cut"></div>
                    <label for='input-apellido' class="placeholder">Apellido</label>
                </div>
                <div class="input-container ic2">
                    <input id='input-montoInicial' class="input" min=0 type="number" placeholder=" "/>
                    <div class="cut"></div>
                    <label for='input-montoInicial' class="placeholder">Monto inicial</label>
                </div>
                <div class="input-container ic2">
                    <input id=input-gastosMensuales class="input" min=0 type="number" placeholder=" "/>
                    <div class="cut"></div>
                    <label for='input-gastosMensuales' class="placeholder">Gastos mensuales</label>
                </div>
                <div>
                    <button class="submit">Agregar persona</button>
                </div>
            </form>
        </div>

        
        <div  class="container-fluid" id="div-tabla-datos" style="display: none">
            <h3>Mis datos</h3>
            <table id=tabla-personas class="table table-dark table-striped" style="margin-top: 0.7rem">
            </table>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Mis modulos -->
    <script type="module" src="./js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="./js/ajax.js"></script>
    <script src="./js/classes/persona.js"></script>
    <script src="./js/classes/presupuesto.js"></script>
    <script src="./js/my_funcs.js"></script>
    <script src="./js/crud.js"></script>
    <script src="./js/events.js"></script>

</html>